/* Tab Style */

.tabs {
    display: flex;
    align-items: center;
    li {
        font-size: 18px;
        font-weight: 500;
        background: inherit;
        cursor: pointer;
    }
}