/*=========================================================
          [ Table ]
=========================================================*/

.custom--table {
    width: 100%;
    color: inherit;
    vertical-align: middle;
    font-weight: 400;
    text-align: center;
}

.custom--table thead {
    font-weight: 700;
    font-size: 18px;
    background: inherit;
    color: inherit;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--heading-font);
}

.custom--table tbody {
    border-top: 0;
    overflow: hidden;
    border-radius: 10px;
}

.custom--table tbody tr:nth-child(odd) {
    background-color: inherit;
}

.custom--table tbody tr:nth-child(even) {
    background-color: inherit;
}

.custom--table tr {}

.custom--table tr th {
    font-size: 18px;
    font-weight: 500;
    color: var(--light-color);
    min-width: 100px;
}

.custom--table tr td {
    font-size: 18px;
    color: var(--heading-color);
    padding: 20px 0;
    line-height: 22px;
    @include responsive(allPhone) {
        padding: 10px 0;
    }
    &:last-child {
        padding: 0;
    }
}

[data-label] {
    position: relative;
}

[data-label]::before {
    position: absolute;
    content: attr(data-label);
    font-weight: 700;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 10px;
    padding: 8px 20px;
    display: none;
    font-size: 14px;
}

@media (max-width: 991px) {
    .table-responsive {
        overflow-x: unset;
    }
    .table-responsive thead {
        display: none;
    }
    .table-responsive thead tr .check-all-rows {
        display: block;
    }
    .table-responsive [data-label]::before {
        display: block;
    }
    .table-responsive tr td {
        display: block;
        text-align: right;
        padding-right: 5px;
    }
    .table-responsive [data-label]::before {
        padding: 8px 10px 8px 5px;
    }
}