/*--------------------------------------------------------------
	04. Footer Style
--------------------------------------------------------------*/

.footer-top-border {
    border-bottom: 1px solid #ddd;
    &.white-color {
        border-color: $steam-color;
    }
}

.hover-color-two {
    .footer-widget {
        .footer-inner {
            .footer-link-list {
                .list {
                    &:hover {
                        a {
                            color: var(--main-color-two);
                        }
                    }
                }
            }
            .subscribe-form {
                .widget-form-single {
                    .form--control {
                        &:focus {
                            box-shadow: 0 0 10px rgba($main-color-two, .1);
                            border-color: rgba($main-color-two, .3);
                        }
                    }
                    button {
                        background: var(--main-color-two);
                    }
                }
            }
        }
    }
}

.hover-color-three {
    .footer-widget {
        .footer-inner {
            .footer-link-list {
                .list {
                    &:hover {
                        a {
                            color: var(--main-color-three);
                        }
                    }
                }
            }
            .subscribe-form {
                .widget-form-single {
                    .form--control {
                        &:focus {
                            box-shadow: 0 0 10px rgba($main-color-three, .1);
                            border-color: rgba($main-color-three, .3);
                        }
                    }
                    button {
                        background: var(--main-color-three);
                    }
                }
            }
        }
    }
}

.style-02 {
    .footer-widget {
        .footer-inner {
            .footer-link-list {
                .list {
                    a {}
                }
            }
            .footer-social-list {
                .lists {
                    a {
                        background: $white !important;
                        color: var(--main-color-two);
                        &:hover {
                            background: var(--main-color-two) !important;
                            color: $white !important;
                        }
                    }
                }
            }
        }
    }
    .footer-middle-border {
        div[class*=col] {
            &:not(:last-child) {
                .footer-widget {
                    &::after {
                        content: "";
                        position: absolute;
                        height: 200px;
                        width: 1px;
                        right: 25%;
                        top: 0;
                        background: rgba($steam-color, .5);
                        z-index: 0;
                        @include responsive(xxl) {
                            right: 20%;
                        }
                        @include responsive(xl) {
                            right: 15%;
                        }
                        @include responsive(lg) {
                            right: 5%;
                        }
                        @include responsive(allPhone) {
                            display: none;
                        }
                    }
                }
            }
            &:nth-last-of-type(2) {
                .footer-widget {
                    &::after {
                        background: none;
                        display: none;
                    }
                }
            }
        }
    }
}

.footer-widget {
    position: relative;
    z-index: 1;
    .widget-title {
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        text-transform: capitalize;
        position: relative;
        font-family: var(--heading-font);
        color: var(--heading-color);
    }
    .logo-borders {
        border-right: 1px solid #dddddd;
        border-left: 1px solid #dddddd;
    }
    .footer-inner {
        .footer-logo {
            text-align: center;
        }
        .footer-para {
            font-size: 16px;
            color: var(--light-color);
            line-height: 28px;
        }
        .footer-link-list {
            padding: 0;
            .list {
                position: relative;
                z-index: 2;
                transition: all .3s;
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
                &:hover {
                    a {
                        color: var(--main-color-one);
                    }
                }
                a {
                    font-size: 16px;
                    font-weight: 400;
                    color: var(--light-color);
                    position: relative;
                    -webkit-transition: all .5s;
                    -o-transition: all .5s;
                    transition: all .5s;
                    position: relative;
                    z-index: 1;
                    &:hover {
                        color: var(--main-color-one);
                        padding-left: 20px;
                        &::before {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                    &::before {
                        content: "\f101";
                        @include linefont;
                        position: absolute;
                        left: 0;
                        z-index: 1;
                        visibility: hidden;
                        opacity: 0;
                        transition: all .3s;
                    }
                }
            }
        }
        .footer-link-address {
            padding: 0;
            .list {
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
                .address {
                    font-size: 16px;
                    line-height: 26px;
                    display: block;
                    color: var(--light-color);
                    -webkit-transition: all .3s;
                    -o-transition: all .3s;
                    transition: all .3s;
                    &:hover {
                        color: var(--main-color-one);
                        letter-spacing: 1px;
                    }
                    i {
                        color: var(--main-color-one);
                    }
                }
            }
        }
        .footer-social-list {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 0;
            @include responsive(xs) {
                justify-content: center;
            }
            .lists {
                a {
                    color: var(--heading-color);
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    width: 40px;
                    border-radius: 5px;
                    background: $white;
                    -webkit-transition: all .3s;
                    -o-transition: all .3s;
                    transition: all .3s;
                    @include responsive(xs) {
                        font-size: 18px;
                        height: 35px;
                        width: 35px;
                    }
                    @include responsive(vxxs) {
                        height: 30px;
                        width: 30px;
                    }
                    &:hover {
                        color: $white;
                        background: var(--main-color-one);
                    }
                }
                &:not(:last-child) {
                    a {
                        margin-right: 10px;
                    }
                }
            }
        }
        .subscribe-para {
            font-size: 16px;
            color: var(--light-color);
        }
        .subscribe-form {
            margin-top: 30px;
            .widget-form-single {
                position: relative;
                max-width: 255px;
                .form--control {
                    width: 100%;
                    height: 55px;
                    line-height: 55px;
                    border-radius: 5px;
                    background: $white;
                    color: var(--light-color);
                    border: 1px solid $white;
                    padding: 0 60px 0 20px;
                    -webkit-box-shadow: 0 0 20px rgba($white, .3);
                    box-shadow: 0 0 20px rgba($white, .3);
                    &::-webkit-input-placeholder {
                        color: var(--extra-light-color);
                        font-size: 16px;
                    }
                    &::-moz-placeholder {
                        color: var(--extra-light-color);
                        font-size: 16px;
                    }
                    &:-ms-input-placeholder {
                        color: var(--extra-light-color);
                        font-size: 16px;
                    }
                    &::-ms-input-placeholder {
                        color: var(--extra-light-color);
                        font-size: 16px;
                    }
                    &::placeholder {
                        color: var(--extra-light-color);
                        font-size: 16px;
                    }
                    &:focus {
                        border: 1px solid rgba($main-color-one, .2);
                        -webkit-box-shadow: 0 0 20px rgba($main-color-one, .1);
                        box-shadow: 0 0 20px rgba($main-color-one, .1);
                    }
                }
                button {
                    outline: none;
                    border: 0;
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 45px;
                    width: 50px;
                    background: var(--main-color-one);
                    font-size: 20px;
                    color: $white;
                    border-radius: 3px;
                    margin: 5px;
                    cursor: pointer;
                }
            }
        }
        .payment-list {
            padding: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            @include responsive(allPhone) {
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
                margin-top: 10px;
            }
            @include responsive(sm) {
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
            }
            .list {
                background-color: $white;
                &:not(:last-child) {
                    margin-right: 15px;
                }
                a {}
            }
        }
        .privacy-list {
            display: flex;
            align-items: center;
            @include responsive(sm) {
                justify-content: center;
            }
            li {
                position: relative;
                z-index: 2;
                &:hover {
                    a {
                        color: var(--main-color-one);
                    }
                }
                &:not(:last-child) {
                    padding-right: 20px;
                }
                &:not(:first-child) {
                    padding-left: 20px;
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        height: 20px;
                        width: 2px;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: var(--extra-light-color);
                    }
                }
                a {
                    color: var(--light-color);
                }
            }
        }
        .footer-social-two {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-top: 20px;
            padding: 0;
            @include responsive(xs) {
                justify-content: center;
            }
            .lists {
                a {
                    color: var(--light-color);
                    font-size: 20px;
                    -webkit-transition: all .3s;
                    -o-transition: all .3s;
                    transition: all .3s;
                    &:hover {
                        color: var(--main-color-one);
                    }
                }
                &:not(:last-child) {
                    a {
                        margin-right: 10px;
                    }
                }
            }
        }
        .footer-call {
            display: block;
            color: var(--light-color);
            transition: all .3s;
            &:hover {
                color: var(--main-color-one);
            }
        }
    }
}

.copyright-area {
    padding: 25px 0;
    &.copyright-border {
        border-top: 1px solid #dddddd;
        &.white-color {
            border-color: rgba($steam-color, .3);
        }
    }
    &.style-02 {
        padding: 0 0 25px;
    }
    .copyright-contents {
        font-size: 16px;
        color: var(--light-color);
        text-align: center;
        @include responsive(sm) {
            text-align: center;
            margin-top: 10px;
        }
    }
}

.white-color {
    .footer-widget {
        .widget-title {
            color: $white;
        }
        .footer-inner {
            .subscribe-para {
                color: $white;
            }
            .footer-link-list {
                .list {
                    a {
                        color: $white;
                        &:hover {
                            color: var(--main-color-one);
                        }
                    }
                }
            }
            .footer-link-address {
                .list {
                    .address {
                        color: $white;
                        &:hover {
                            color: var(--main-color-one);
                        }
                        i {}
                    }
                }
            }
            .footer-social-list {
                .lists {
                    a {
                        background: $steam-color;
                        color: rgba($white, .7);
                        &:hover {
                            background: var(--main-color-one);
                            color: $white;
                        }
                    }
                }
            }
            .subscribe-form {
                .widget-form-single {
                    .form--control {
                        box-shadow: 0 0 10px rgba($steam-color, .2);
                        &:focus {}
                    }
                    button {}
                }
            }
            .privacy-list {
                .li {
                    a {}
                }
            }
            .footer-social-two {
                .lists {
                    a {}
                }
            }
            .footer-call {}
            .payment-list {
                .list {
                    background: $white;
                }
            }
        }
    }
}

.footer-color-two {
    .footer-widget {
        .footer-inner {
            .footer-link-list {
                .list {
                    &::before {
                        color: var(--main-color-two);
                    }
                    &:hover {
                        a {
                            color: var(--main-color-two);
                        }
                    }
                }
            }
            .footer-link-address {
                .list {
                    .address {
                        &:hover {
                            color: var(--main-color-two);
                        }
                        i {
                            color: var(--main-color-two);
                        }
                    }
                }
            }
            .footer-social-list {
                .lists {
                    a {
                        &:hover {
                            color: $white;
                            background: var(--main-color-two);
                        }
                    }
                }
            }
            .subscribe-form {
                .widget-form-single {
                    .form--control {
                        &:focus {
                            border: 1px solid rgba($main-color-two, .2);
                            -webkit-box-shadow: 0 0 20px rgba($main-color-two, .1);
                            box-shadow: 0 0 20px rgba($main-color-two, .1);
                        }
                    }
                    button {
                        background: var(--main-color-two);
                    }
                }
            }
            .privacy-list {
                li {
                    &:hover {
                        a {
                            color: var(--main-color-two);
                        }
                    }
                }
            }
            .footer-social-two {
                .lists {
                    a {
                        &:hover {
                            color: var(--main-color-two);
                        }
                    }
                }
            }
            .footer-call {
                &:hover {
                    color: var(--main-color-two);
                }
            }
        }
    }
}

.footer-color-three {
    .footer-widget {
        .footer-inner {
            .footer-link-list {
                .list {
                    &::before {
                        color: var(--main-color-three);
                    }
                    &:hover {
                        a {
                            color: var(--main-color-three);
                        }
                    }
                }
            }
            .footer-link-address {
                .list {
                    .address {
                        &:hover {
                            color: var(--main-color-three);
                        }
                        i {
                            color: var(--main-color-three);
                        }
                    }
                }
            }
            .footer-social-list {
                .lists {
                    a {
                        &:hover {
                            color: $white;
                            background: var(--main-color-three);
                        }
                    }
                }
            }
            .subscribe-form {
                .widget-form-single {
                    .form--control {
                        &:focus {
                            border: 1px solid rgba($main-color-three, .2);
                            -webkit-box-shadow: 0 0 20px rgba($main-color-three, .1);
                            box-shadow: 0 0 20px rgba($main-color-three, .1);
                        }
                    }
                    button {
                        background: var(--main-color-three);
                    }
                }
            }
            .privacy-list {
                li {
                    &:hover {
                        a {
                            color: var(--main-color-three);
                        }
                    }
                }
            }
            .footer-social-two {
                .lists {
                    a {
                        &:hover {
                            color: var(--main-color-three);
                        }
                    }
                }
            }
            .footer-call {
                &:hover {
                    color: var(--main-color-three);
                }
            }
        }
    }
}

.footer-middle-border {
    div[class*=col] {
        &:not(:last-child) {
            .footer-widget {
                &::after {
                    content: "";
                    position: absolute;
                    height: 200px;
                    width: 1px;
                    right: 25%;
                    top: 0;
                    background: rgba($steam-color, .5);
                    z-index: 0;
                    @include responsive(xxl) {
                        right: 20%;
                    }
                    @include responsive(xl) {
                        right: 15%;
                    }
                    @include responsive(lg) {
                        right: 5%;
                    }
                    @include responsive(allPhone) {
                        display: none;
                    }
                }
            }
        }
    }
}

.footer-list-bars {
    .footer-inner {
        .footer-link-list {
            .list {
                padding-left: 40px;
                &::before {
                    content: "";
                    position: absolute;
                    height: 1px;
                    width: 30px;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    background: var(--main-color-one);
                    z-index: -1;
                    transition: all .3s;
                }
                &:hover {
                    padding-left: 30px;
                    &:before {
                        width: 20px;
                    }
                }
            }
        }
    }
}


/* .footer-bg-side {
    position: relative;
    z-index: 2;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 38%;
        background: $gradient-bg-2;
        z-index: -1;
        @include responsive(xl) {
            width: 33%;
        }
        @include responsive(lg) {
            width: 32%;
        }
        @include responsive(allPhone) {
            display: none;
        }
    }
    .footer-logo {}
    .footer-widget {
        .footer-inner {
            .footer-para {
                color: $white;
                @include responsive(allPhone) {
                    color: var(--light-color);
                }
            }
        }
    }
} */