/* Compare Area */

.compare-area {}

.single-compare {
    .compare-thumbs {
        img {}
    }
    .compare-contents {
        .compare-title {}
        .compare-review-list {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 5px;
            .list {
                margin: 2px;
                font-size: 20px;
            }
        }
        .common-price-title-two {
            margin-top: 15px;
        }
        .compare-content-list {
            @include responsive(xxs) {
                margin-top: 20px;
            }
            .list {
                border-bottom: 1px solid rgba($steam-color, .4);
                padding: 20px 0;
                font-size: 18px;
                line-height: 32px;
                color: var(--light-color);
                @include responsive(allPhone) {
                    padding: 15px 0;
                }
                @include responsive(xs) {
                    font-size: 16px;
                }
                @include responsive(xxs) {
                    font-size: 15px;
                    padding: 10px 0;
                }
                .common-para {
                    color: var(--light-color);
                }
            }
        }
        .btn-wrapper {
            .cmn-btn {
                font-size: 18px;
                @include responsive(allPhone) {
                    font-size: 17px;
                }
                @include responsive(xs) {
                    font-size: 16px;
                }
                @include responsive(vxxs) {
                    font-size: 15px;
                }
            }
        }
        .btn-remove {
            border-bottom: 2px solid rgba($steam-color, .6);
            color: var(--light-color);
            padding-bottom: 2px;
            display: inline-block;
            font-size: 18px;
            font-weight: 500;
            transition: all .3s;
            &:hover {
                color: var(--main-color-one);
                border-color: transparent;
                letter-spacing: 1px;
            }
            @include responsive(xs) {
                font-size: 16px;
            }
            @include responsive(vxxs) {
                font-size: 15px;
            }
        }
    }
}