/* Shop Details Area */

.shop-details-area {}

.shop-details-thumb-wrapper {}

.shop-details-thums {
    img {}
}

.single-shop-details-wrapper {
    padding: 0 10px;
    @include responsive(xxxl) {
        max-height: 870px;
        overflow-y: scroll;
    }
    @include responsive(xxl) {
        max-height: 730px;
        overflow-y: scroll;
    }
    @include responsive(xl) {
        max-height: 630px;
        overflow-y: scroll;
    }
    @include responsive(lg) {
        max-height: 800px;
        overflow-y: scroll;
    }
    @include responsive(allPhone) {
        margin-top: 20px;
    }
    .details-title {}
    .common-para {
        margin-top: 30px;
        @include responsive(xl) {
            margin-top: 15px !important;
        }
        @include responsive(lg) {
            margin-top: 15px !important;
        }
    }
    .price-update-through {
        @include responsive(xl) {
            margin-top: 15px !important;
        }
        @include responsive(lg) {
            margin-top: 15px !important;
        }
        .flash-prices {
            @include responsive(sm) {
                font-size: 28px !important;
            }
        }
        .flash-old-prices {
            @include responsive(allPhone) {
                font-size: 20px !important;
            }
        }
    }
}

.quantity-area {
    @include responsive(xl) {
        margin-top: 20px;
    }
    @include responsive(lg) {
        margin-top: 20px;
    }
    .quantity-flex {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        .quantity-title {}
    }
}

.product-quantity {
    position: relative;
    z-index: 3;
    .quantity-input {
        width: 100px;
        height: 45px;
        border: 1px solid $color-extra-light;
        color: var(--light-color);
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        text-align: center;
    }
    .substract,
    .plus {
        color: var(--light-color);
        z-index: 9;
        cursor: pointer;
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
        background: $white;
        transition: all .3s;
        &:hover {
            color: var(--main-color-one);
        }
    }
    .plus {
        left: auto;
        right: 5px;
    }
}

.quantity-btn {
    display: flex;
    align-items: center;
    gap: 30px;
    @include responsive(xl) {
        margin-top: 25px;
    }
    @include responsive(lg) {
        margin-top: 25px;
    }
    .heart-btn {
        height: 55px;
        width: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $main-color-one;
        transition: all .3s;
        &:hover {
            background: var(--main-color-one);
            color: $white;
        }
        @include responsive(vxxs) {
            height: 45px;
            width: 45px;
            font-size: 24px !important;
        }
    }
}

.stock-available {
    font-weight: 500;
    line-height: 26px;
    font-size: 16px;
    padding: 5px 0;
    .count-stock {
        color: var(--extra-light-color);
    }
}

.shop-border-top {
    border-top: 1px solid rgba($steam-color, .4);
}

.product-sold-btn {
    font-size: 16px;
    background: rgba($stock-color, .1);
    color: $stock-color;
    padding: 10px 20px;
    display: inline-block;
    transition: all .3s;
    &:hover {
        background: $stock-color;
        color: $white;
    }
}

.guaranteed-checkout {
    font-size: 16px;
    display: block;
}

.details-checkout-shop {
    .payment-list {
        display: flex;
        align-items: center;
        .payments {
            margin-top: 10px;
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}

.shop-details-stock {
    .stock-category {
        @include responsive(xl) {
            margin-top: 20px;
        }
        @include responsive(lg) {
            margin-top: 20px;
        }
        li {
            font-size: 16px;
            line-height: 26px;
            @include responsive(xxs) {
                font-size: 15px;
            }
            @include responsive(vxxs) {
                font-size: 14px;
            }
            &:not(:last-child) {
                padding-bottom: 10px;
                @include responsive(xl) {
                    margin-top: 15px;
                }
                @include responsive(lg) {
                    margin-top: 15px;
                }
            }
            span {}
            a {
                &:hover {
                    color: var(--main-color-one);
                }
            }
        }
        .category-list {
            .list-item {
                padding-left: 3px;
                &:not(:last-child) {
                    &::after {
                        content: ",";
                    }
                }
            }
        }
    }
    .size-chart-list {
        display: flex;
        align-items: center;
        gap: 10px 30px;
        @include responsive(xl) {
            margin-top: 25px;
        }
        @include responsive(lg) {
            margin-top: 25px;
        }
        li {
            a {
                font-size: 16px;
                line-height: 26px;
                display: inline-block;
                border-bottom: 1px solid $color-extra-light;
                transition: all .3s;
                @include responsive(xxs) {
                    font-size: 15px;
                }
                @include responsive(vxxs) {
                    font-size: 14px;
                    line-height: 22px;
                }
                &:hover {
                    color: var(--main-color-one);
                    border-color: var(--main-color-one);
                }
            }
        }
    }
}

.shop-details-top-slider {
    .shop-details-thumb-wrapper {
        height: auto;
        .shop-details-thums {
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

.shop-details-click-img {
    .shop-small-thumb-wrapper {
        cursor: pointer;
    }
}

.shop-description-list {
    .list {
        font-size: 18px;
        line-height: 24px;
        margin-top: 15px;
        @include responsive(allPhone) {
            font-size: 16px;
        }
        @include responsive(xs) {
            font-size: 15px;
            margin-top: 10px;
        }
        @include responsive(vxxs) {
            font-size: 14px;
        }
    }
}

.single-shop-details-wrapper {
    max-width: 585px;
}

.details-tab-wrapper {
    .details-tab {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        @include responsive(allPhone) {
            gap: 15px;
        }
        @include responsive(xxs) {
            gap: 0 10px;
        }
        li {
            font-size: 18px;
            font-weight: 500;
            padding-bottom: 10px;
            background: none;
            color: var(--light-color);
            transition: (all 300ms);
            position: relative;
            z-index: 1;
            margin-bottom: 10px;
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                background: var(--main-color-one);
                visibility: hidden;
                opacity: 0;
                transition: all .4s;
            }
            @include responsive(allPhone) {
                font-size: 16px;
                font-weight: 400;
                padding: 7px 20px;
            }
            @include responsive(xs) {
                font-size: 15px;
                padding: 6px 20px;
                line-height: 26px;
            }
            @include responsive(vxxs) {
                font-size: 14px;
                padding: 0px 2px;
            }
            &.active {
                color: var(--heading-color);
                &::before {
                    width: 100%;
                    visibility: visible;
                    opacity: 1;
                }
            }
            &:hover {
                color: var(--heading-color);
            }
        }
        &.hover-color-two {
            li {
                &.active {
                    background: var(--main-color-two);
                    color: $white;
                    border-color: var(--main-color-two);
                }
                &:hover {
                    background: var(--main-color-two);
                    color: $white;
                    border-color: var(--main-color-two);
                }
            }
        }
        &.hover-color-three {
            li {
                &.active {
                    background: var(--main-color-three);
                    color: $white;
                    border-color: var(--main-color-three);
                }
                &:hover {
                    background: var(--main-color-three);
                    color: $white;
                    border-color: var(--main-color-three);
                }
            }
        }
        &.hover-color-four {
            li {
                &.active {
                    background: var(--main-color-four);
                    color: $white;
                    border-color: var(--main-color-four);
                }
                &:hover {
                    background: var(--main-color-four);
                    color: $white;
                    border-color: var(--main-color-four);
                }
            }
        }
    }
}

.wishlist-compare {
    .wishlist-compare-btn {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .btn-details {
            display: inline-block;
            font-size: 18px;
            transition: all .3s;
            i {
                margin-right: 3px;
            }
            &:hover {
                color: var(--main-color-one);
            }
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}

.tags-area-shop {
    .tags-span {}
    .tags-shop-list {
        display: flex;
        align-items: center;
        .list {
            margin-top: 10px;
            &:not(:last-child) {
                margin-right: 10px;
            }
            a {
                font-size: 15px;
                display: inline-block;
                padding: 5px 12px;
                border: 1px solid rgba($steam-color, .4);
                color: var(--light-color);
                transition: all .3s;
                &:hover {
                    background: var(--main-color-one);
                    color: $white;
                    border-color: var(--main-color-one);
                }
            }
        }
    }
}

.single-details-tab {
    .tab-description {
        .description-para {
            font-size: 18px;
            line-height: 30px;
            color: var(--light-color);
            padding-top: 30px;
            @include responsive(allPhone) {
                font-size: 16px;
            }
            @include responsive(xxs) {
                font-size: 15px;
            }
            @include responsive(vxxs) {
                font-size: 14px;
            }
        }
    }
    .tab-review {}
}

.about-seller-flex-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 40px 0;
    gap: 30px;
    @include responsive(xxs) {
        display: block;
    }
    @include responsive(xs) {
        padding: 30px 0;
    }
    &:not(:first-child) {
        border-top: 2px solid rgba($STEAM, .5);
    }
    .about-seller-thumb {
        height: 80px;
        min-width: 80px;
        border-radius: 10px;
        display: block;
        @include responsive(xxs) {
            width: 80px;
            margin-bottom: 15px;
        }
        img {
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
    .about-seller-content {
        .title {
            font-size: 20px;
            font-weight: 600;
            line-height: 20px;
        }
        .about-seller-list {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-top: 10px;
            .icon {
                color: var(--main-color-one);
                font-size: 12px;
            }
            .reviews {
                margin-left: 10px;
            }
        }
        .about-review-para {
            font-size: 16px;
            font-weight: 400;
            color: var(--light-color);
            margin-top: 20px;
            line-height: 26px;
        }
        .review-date {
            margin-top: 20px;
            display: block;
        }
    }
}

.seller-details-box {
    border: 1px solid rgba(#ddd, .5);
    padding: 30px;
    border-radius: 10px;
    @include responsive(xxs) {
        padding: 20px 10px;
    }
    .seller-box-list {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        @include responsive(xxs) {
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
        }
        .box-list {
            font-size: 16px;
            line-height: 26px;
            font-weight: 400;
            margin-bottom: 20px;
            strong {
                display: block;
                font-size: 20px;
                font-weight: 500;
                color: var(--heading-color);
                font-family: var(--heading-font);
                line-height: 28px;
                margin-top: 5px;
            }
        }
    }
    .seller-details-para {
        font-size: 18px;
        line-height: 30px;
        color: var(--light-color);
        @include responsive(xs) {
            font-size: 16px;
        }
        @include responsive(vxxs) {
            font-size: 14px;
        }
    }
}

.payment-list {
    .payments {
        position: relative;
        z-index: 1;
        border: 2px solid transparent;
        transition: all .3s;
        &.selected {
            border-color: var(--main-color-one);
            &::before {
                visibility: visible;
                opacity: 1;
            }
        }
        &::before {
            @include linefont;
            content: "\f00c";
            position: absolute;
            left: 0;
            top: 0;
            font-size: 12px;
            height: 18px;
            width: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--main-color-one);
            color: $white;
            visibility: hidden;
            opacity: 0;
            transition: all .3s;
        }
    }
}

.shop-details-faq-contents {
    height: 650px;
    overflow-y: auto;
    .faq-contents {
        .faq-item {
            margin-top: 0;
            &:last-child {
                border-bottom: 2px solid $STEAM;
            }
            &.open {
                .faq-title {
                    background: none;
                    color: var(--heading-color);
                    &::after {
                        content: "\f107";
                        color: var(--light-color);
                    }
                }
            }
            &.active {
                .faq-panel {
                    display: block;
                    background: none;
                    padding: 0;
                }
            }
            &:not(:first-child) {
                margin-top: 0;
            }
            .faq-title {
                font-size: 24px;
                font-weight: 500;
                border: none;
                padding: 50px 0 30px;
                border-top: 2px solid $STEAM !important;
                font-family: var(--heading-font);
                color: var(--heading-color);
                &::after {
                    content: "\f106";
                    color: var(--light-color);
                    font-size: 24px;
                    right: 0;
                    margin-top: 15px;
                    @include responsive(xl) {
                        margin-top: 0;
                        font-size: 22px;
                    }
                    @include responsive(xxl) {
                        margin-top: 0;
                        font-size: 22px;
                    }
                    @include responsive(lg) {
                        margin-top: 0;
                        font-size: 20px;
                    }
                    @include responsive(allPhone) {
                        margin-top: 0;
                        font-size: 18px;
                    }
                    @include responsive(xxs) {
                        font-size: 16px;
                    }
                }
                @include responsive(xxxl) {
                    padding: 30px 0;
                }
                @include responsive(xxl) {
                    padding: 20px 0;
                    font-size: 22px;
                }
                @include responsive(xl) {
                    padding: 20px 0;
                    font-size: 22px;
                }
                @include responsive(lg) {
                    padding: 20px 0;
                    font-size: 20px;
                }
                @include responsive(allPhone) {
                    padding: 20px 0;
                    font-size: 18px;
                }
                @include responsive(xxs) {
                    font-size: 17px;
                }
                @include responsive(vxxs) {
                    font-size: 16px;
                }
            }
            .faq-panel {
                padding: 0;
                background: none !important;
                .faq-para {
                    font-size: 18px;
                    line-height: 30px;
                    padding-bottom: 30px;
                    @include responsive(xxl) {
                        font-size: 16px;
                        line-height: 28px;
                        padding-bottom: 20px;
                    }
                    @include responsive(xl) {
                        font-size: 16px;
                        line-height: 28px;
                        padding-bottom: 20px;
                    }
                    @include responsive(lg) {
                        font-size: 16px;
                        line-height: 28px;
                        padding-bottom: 20px;
                    }
                    @include responsive(allPhone) {
                        font-size: 16px;
                        line-height: 28px;
                        padding-bottom: 20px;
                    }
                    @include responsive(xxs) {
                        font-size: 15px;
                    }
                    @include responsive(vxxs) {
                        font-size: 14px;
                        line-height: 26px;
                    }
                }
                .tab-information {
                    .about-seller-flex-content {
                        padding: 0 0 10px;
                    }
                    .seller-details-box {
                        border: 0;
                        padding: 10px 0 30px;
                        .seller-details-para {
                            font-size: 16px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            line-clamp: 2;
                            -webkit-box-orient: vertical;
                        }
                    }
                }
                .tab-review {
                    padding-bottom: 30px;
                    .about-seller-flex-content {
                        padding: 20px 0;
                        &:first-child {
                            padding-top: 0;
                        }
                        .about-seller-content {
                            .about-review-para {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                line-clamp: 2;
                                -webkit-box-orient: vertical;
                            }
                        }
                    }
                }
            }
        }
    }
}

.shop-details-right-sidebar {
    position: sticky;
    top: 0;
    @include responsive(lg) {
        margin-top: 30px;
    }
    @include responsive(allPhone) {
        margin-top: 30px;
    }
}

.single-sidebar-details {
    padding: 20px;
    .title-sidebar-global {
        font-size: 22px;
        font-weight: 500;
    }
    .shop-details-gift {
        .gift-icon {
            font-size: 60px;
            color: var(--main-color-one);
        }
    }
    .best-seller-sidebar {
        &:hover {
            .seller-thumb {
                img {
                    transform: rotate(5deg) scale(1.2);
                }
            }
            .thumb-brand {
                transform: rotateY(180deg);
            }
        }
        .thumb-brand {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80px;
            width: 80px;
            background-color: $brand-color-1;
            margin: 0px auto;
            position: relative;
            z-index: 9;
            transition: all .3s;
            &.brand-thumb-border {
                border: 3px solid $white;
            }
            img {}
        }
        .best-seller-contents {
            .common-title-two {}
        }
    }
    .shop-details-share {
        .share-list {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            .list {
                margin: 0px 5px 5px;
                .social-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;
                    height: 40px;
                    width: 40px;
                    background: rgba($steam-color, .4);
                    color: var(--heading-color);
                    transition: all .3s;
                    &:hover {
                        background: var(--main-color-one);
                        color: $white;
                    }
                }
            }
        }
    }
    .shop-product-slider {
        .nav-style-two {
            .prev-icon,
            .next-icon {
                height: 35px;
                width: 35px;
                font-size: 20px;
            }
        }
    }
}

.shop-details-list {
    .promo-list {
        @include responsive(lg) {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        @include responsive(allPhone) {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 0 20px;
        }
        .list {
            display: flex;
            align-items: flex-start;
            &:not(:first-child) {
                margin-top: 24px;
            }
            .icon {
                margin-right: 10px;
                font-size: 30px;
                color: var(--main-color-one);
            }
            .promon-icon-contents {
                .promo-title {
                    &:hover {
                        color: var(--main-color-one);
                    }
                }
                .promo-para {
                    font-size: 15px;
                    line-height: 26px;
                    display: block;
                    margin-top: 5px;
                }
            }
        }
    }
}

.sidebar-wrapper-btn {
    display: flex;
    align-items: start;
    justify-content: center;
    .btn-visit-chat {
        margin-top: 20px;
    }
    .visit-btn {
        background: var(--main-color-one);
        color: $white;
        padding: 7px 15px;
        display: inline-block;
        margin-right: 20px;
        border: 2px solid var(--main-color-one);
        transition: all .3s;
        &:hover {
            background: none;
            color: var(--main-color-one);
        }
    }
    .btn-message-chat {
        padding: 6px 10px;
        font-size: 18px;
        transition: all .3s;
        &.chat-border {
            border: 2px solid var(--main-color-one);
            color: var(--main-color-one);
            &:hover {
                background: var(--main-color-one);
                color: $white;
            }
        }
    }
}

.shop-popup-color-two {
    .value-input-area .size-lists li.active {
        border-color: var(--main-color-two);
    }
    .product-quantity .substract:hover,
    .product-quantity .plus:hover {
        color: var(--main-color-two);
    }
    .quantity-btn .heart-btn {
        border-color: var(--main-color-two);
    }
    .quantity-btn .heart-btn:hover {
        background-color: var(--main-color-two);
        color: $white;
    }
    .wishlist-compare .wishlist-compare-btn .btn-details:hover {
        color: var(--main-color-two);
    }
    .payment-list .payments.selected {
        border-color: var(--main-color-two);
    }
    .payment-list .payments::before {
        background: var(--main-color-two);
    }
    .shop-details-stock .stock-category li a:hover {
        color: var(--main-color-two);
    }
    .tags-area-shop .tags-shop-list .list a:hover {
        background: var(--main-color-two);
        color: #fff;
        border-color: var(--main-color-two);
    }
}

.shop-popup-color-three {
    .value-input-area .size-lists li.active {
        border-color: var(--main-color-three);
    }
    .product-quantity .substract:hover,
    .product-quantity .plus:hover {
        color: var(--main-color-three);
    }
    .quantity-btn .heart-btn {
        border-color: var(--main-color-three);
    }
    .quantity-btn .heart-btn:hover {
        background-color: var(--main-color-three);
        color: $white;
    }
    .wishlist-compare .wishlist-compare-btn .btn-details:hover {
        color: var(--main-color-three);
    }
    .payment-list .payments.selected {
        border-color: var(--main-color-three);
    }
    .payment-list .payments::before {
        background: var(--main-color-three);
    }
    .shop-details-stock .stock-category li a:hover {
        color: var(--main-color-two);
    }
    .tags-area-shop .tags-shop-list .list a:hover {
        background: var(--main-color-three);
        color: #fff;
        border-color: var(--main-color-three);
    }
}

.shop-popup-color-four {
    .value-input-area .size-lists li.active {
        border-color: var(--main-color-four);
    }
    .product-quantity .substract:hover,
    .product-quantity .plus:hover {
        color: var(--main-color-four);
    }
    .quantity-btn .heart-btn {
        border-color: var(--main-color-four);
    }
    .quantity-btn .heart-btn:hover {
        background-color: var(--main-color-four);
        color: $white;
    }
}